# Maven / Gradle build outputs
*/target/*
target/
*/build/*
build/

# IDE & tooling
*/.idea/*
.idea/
*/.vscode/*
.vscode/
*iml

# Gradle wrapper & cache
*/.gradle/*
.gradle/
*/gradle/*
*/gradlew
*/gradlew.bat

# CMake build directories
*cmake-build-debug/
cmake-build-debug/
*/cmake-build-release/
cmake-build-release/
*/cmake_install.cmake
*/CMakeFiles/
CMakeFiles/
*/Makefile

# Android NDK / native build outputs
*/build/intermediates/*
*/build/outputs/*
*/build/generated/*
**/.cxx/

*.log

*.DS_Store
*.json
!ramanujan-native/native/CMakePresets.json
*/cmake.check_cache*

# Ignore native libraries
*.so
*.dll
*.dylib
